<html>
<head>
  <title>An Ode To Magnet Poetry...</title>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
  <style type="text/css">
    .word { 
      display: inline-block;
    }

    .word p {
      font-family: 'Londrina Sketch', cursive;
      font-size: 48px;
      border: 1px solid #efefef;
      background-color: #fefefe;
      margin: 0px;
      padding: 10px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>